{% extends 'base.html' %}

{% block style %}
<style>
    /*회원가입폼에 대한 스타일*/
    form { width: 365px; margin: 100px auto;}
    form div { margin-bottom: 5px; }
    form label { font-weight: bold; width: 110px; text-align: right }
    form button:first-child { margin-left: 135px }
</style>
{% endblock %}


{% block main %}
<main>
    <h2>회원정보</h2>
    <div class="container w-25">
        <table class="table  mt-5">
            <tr><th>아이디</th><td>qwer</td></tr>
            <tr><th>이름</th><td>asdf</td></tr>
            <tr><th>이메일</th><td>qwer123@asdf.com</td></tr>
            <tr><th>가입일</th><td>2020-10-10</td></tr>
        </table>
    </div>
</main>
{% endblock %}

